@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer


<h1 class="display-4 mb-4">@Localizer["WelcomeMessage"]</h1>
<p class="lead mb-4">@Localizer["ExploreMusic"]</p>

@{
    ViewData["Title"] = Localizer["HomePageTitle"];
}
