@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="display-4 mb-4">Welcome to Music Portal!</h1>
            <p class="lead mb-4">Explore and enjoy your favorite music like never before. Dive into a world of endless tunes and discover new hits every day.</p>
            <div class="btn-group mt-4">
                <a href="@Url.Action("Register", "Account")" class="btn btn-secondary btn-lg">Join Us</a>
            </div>
        </div>
    </div>
</div>
